<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
      <title>Know Your Password: Compromised Passwords</title>
      <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
      <link href="/static/css/pwned.css" rel="stylesheet" />
      <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
      <link rel="shortcut icon" href="/static/favicon.ico">
      <script src = "/static/scripts/sha1.js"></script>
      <script src="/static/scripts/passwordResult.js"></script>
   </head>
   <body>
      <div class="bodyGradient">
         <header class="navbar navbar-inverse navbar-static-top">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a href="/" class="navbar-brand">';--</a>
               </div>
               <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                     <li class="active"><a href="/">Passwords</a></li>
                     <li><a href="/api">API</a></li>
                  </ul>
               </div>
            </div>
         </header>
         <div class="main">
            <div class="container">
               <h1>Compromised Passwords</h1>
               <p>
                  In a nutshell, compromised passwords are real passwords that have been exposed in data breaches. Because of this, they're no longer suitable for ongoing use, since they could be used to gain access to other account. You can search them online below or use APIs to integrate them into other online systems. <br><br>Know Your Password protects the privacy of searched passwords in same way as <a href="https://haveibeenpwned.com/">HIBP</a>.<br><a href="https://www.troyhunt.com/ive-just-launched-pwned-passwords-version-2#cloudflareprivacyandkanonymity">Read more about how HIBP protects the privacy of searched passwords</a>.
               </p>
               <noscript>
                  <p class="alert alert-danger">
                     You've disabled JavaScript! If you submit a password in the form below, it will not be
                     anonymised first.
                  </p>
               </noscript>
            </div>
         </div>
         <div id="searchContainer" class="secondaryHeader">
            <div class="container">
               <div class="input-group">
                  <input autocapitalize="off" autocorrect="off" class="form-control" id="Password" name="Password" placeholder="password" spellcheck="false" type="password" />
                  <span class="input-group-btn">
                  <button class="btn btn-primary btn-lg" type="submit" id="searchPwnedPasswords" onclick="checkPassword()">compromised?</button>
                  </span>
               </div>
            </div>
         </div>
         <div id="Error" style="display: none;">
            <div class="container">
               <div class="row pwnResultBanner">
                  <h2 id="ErrorMessage">
                  </h2>
               </div>
            </div>
         </div>
         <div class="tertiaryHeader panel-collapse in">
            <div class="container">
               <table class="table table-bordered">
                  <thead>
                     <tr>
                        <td>Source</td>
                        <td class="hidden-xs">Last Updated</td>
                        <td>Result</td>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td class="text-nowrap">haveibeenpwned</td>
                        <td class="hidden-xs">Dec 2021</td>
                        <td name="source" id="haveibeenpwned">
                        </td>
                     </tr>
                     <tr>
                        <td class="text-nowrap">rockyou</td>
                        <td class="hidden-xs">Dec 2021</td>
                        <td name="source" id="rockyou">
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <footer>
         <div class="container text-center">
            <hr />
            <p><a href="" rel="noopener">Made by Dhairya Sharma</a></p>
            <p>
               <a href="https://github.com/dhairya0907" rel="noopener"><i class="fa fa-github-square fa-3x"></i></a>
               <a href="https://twitter.com/dhairya_0907" rel="noopener"><i class="fa fa-twitter-square fa-3x"></i></a>
               <a href="mailto:dhairya.sharma532@gmail.com" rel="noopener"><i class="fa fa-envelope fa-3x"></i></a>
            </p>
         </div>
      </footer>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
      <script nonce="+I2sJhW81d9cw3ZEILXb">
         (window.jQuery) || document.write('<script src="/scripts/jquery"><\/script>');
      </script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script nonce="+I2sJhW81d9cw3ZEILXb">
         ($.fn.modal) || document.write('<script src="/scripts/bootstrap"><\/script>');
      </script>
   </body>
</html>